{% extends 'base.html' %}

{% block header_content %}
<div class="menu-wrapper">
    <nav style="display: flex;">
	<div class="menu-option">
	    <a href="/kiss">Kiss &#128166</a>
	</div>
	<div class="menu-option">
	    <a href="/base">Hem &#127969</a>
	</div>
	<div class="menu-option">
	    <a href="/rutin">Rutin &#128337</a>
	</div>
    </nav>
</div>
{% endblock %}


{% block content %}
<h1>Bajs</h1>
<a class="btn btn-primary" href="/bajs_hit">Träff</a>
<a class="btn btn-primary" href="/bajs_miss">Miss</a>
<a class="btn btn-primary" href="/bajs_mix">Både och</a>
{% endblock %}
